!DOCTYPE html>  
 <html>  
 <head>  
  <title>Form in HTML</title>  
</head>  
 <body>  
     <h2>Registration form</h2>  
    <form>  
     <fieldset>  
        <legend>User personal information</legend>  
        <label>please Enter your first name</label><br>  
        <input type="text" name="name"><br>  
         <label>please Enter your lastname</label><br>  
         <input type="text" name="name"><br>  
         <label>plese Enter your emailid</label><br>  
         <input type="emailid" name="emailid"><br>  
         <label>confirm your password</label><br>  
         <input type="password" name="pass"><br>

         <label>text</label><br>
         <input type="text" name="text"/><br>

         <label> text descruption </label><br>
         <textarea></textarea><br> 
		 
		 <label>enter your gender</label><br>
		 <input type="radio" id="gender" name="gender"value="mate"/><br>
         <input type="radio" id="gender" name="gender" value="female"/><br>
		 
		 <label>enter your hobby</label><br>

		 <input type="checkbox" name="cricket"/><br>
         <input type="checkbox" name="football"/><br>
         <input type="checkbox"	name="kabaddi"/><br>

         <br><input type="submit" value="sign-up"> <br> 
     </fieldset>  
  </form>  
 </body>  
</html>  