<hrml>
<head>sincro private limited</head>
<body>
<title>sincro manufactures</title>
<img src="image-boy.jpg"> width="400" heght="800"/img>
<h1> sincro pvt limited</h1>
<p> sincro is asoftware company<brsincro has branches in hydrerabad,pune.
<p colour="blue;"this ia blue colour paragraph</p>
</body>
</html>


<hrml>
<head>sincro private limited</head>
<body>
<ta href="www.w3 schools.com">this is a link/a>
<img src="image-boy.jpg"> width="400" heght="800"/img>
<h1> sincro pvt limited</h1>
<p> sincro is asoftware company<brsincro has branches in hydrerabad,pune.
<p colour="blue;"this ia blue colour paragraph</p>
</body>
</html>
