<h1>data sly</h1>

<h2>HTL / Sightly -- HTML Template Language <h2>
<p>
 	1.Evry node / Resource 

    2.properties
    3.pageProperties
    4.InheritedPageProperties

</p>



<H1> Properties !!!!!!!!!!! <H1>

Getting the properties from the dilog :::     ${properties.myField}   

===============================================================================
Page properties
========================================================================= <br><br>


Page Properties :: ${pageProperties.jcr:title} <br>

Custom Page Properties :: ${pageProperties.mysitetitle} <br>

=====================
Inherited page Properties
================= <br>
${pageProperties.myName} <br>       ===> 

${inheritedPageProperties.myName}       ===>




