<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="edit data sly 8"></div>


<div data-sly-use.data="template1.html"  data-sly-call ="${data.third @ x=1 , y=2 , z=3}"></div> <br>

<div data-sly-use.data="template1.html"  data-sly-call ="${data.css @ x=2}"></div> <br>

<div data-sly-use.data="template1.html"  data-sly-call ="${data.js @ x=3}"></div> <br>

<div data-sly-use.data="template1.html"  data-sly-call ="${data.all @ x=1}"></div><br>



<!-- Relative path -->


<!-- Absalute path -->
<div data-sly-use.obj="/apps/aemtutorials/components/content/dataslyday7/dataslyday7.html"  data-sly-call ="${obj.first}"></div>




